@import 'src/styles/vars';

.footer{
  background-color: $color2; 
  color: $color4;

  &-top {
    display: flex;
    justify-content: space-between;

    &-ul-right {
      display : flex;
      padding : 0.2em;
      margin : 0em;
      flex-direction: column;
      align-items: flex-end;
      font-size: 0.8em;
      
      &-li {
        padding :0.2em;
      }  
    }  
    &-ul-left {
      display : flex;
      padding : 0.2em;
      margin : 0em;
      flex-direction: column;
      align-items: flex-start;
      font-size: 0.8em;
      
      &-li {
        padding :0.2em;
      }  
    }  
  }
  
  p {
  font-size: 0.8em;
  padding: 0.5em;
  }
}
  
