@import 'src/styles/vars';

.navBar {
display: flex;
background-color: $color5; 
justify-content: space-between;
color: $color4;

img{
  width: 10%;
  height: 10%;
  padding: 1em; 
}

}
ul {
  display : flex;
  padding : 1em;
  margin : 0.2em;
  text-align: right;
}
li {
  padding :1em;
  align-content: flex-end;
}

