@import 'src/styles/vars';

.navBar {
display: flex;
background-color: $color2; 
justify-content: space-between;
color: $color4;

&-ul {
  display : flex;
  padding : 1em;
  margin : 0.1em;
  text-align: right;

  &-li {
    padding :0.5em;
    align-content: flex-end;
  }
}
}

img{
  width: 12%;
  height: 12%;
  padding: 0.3em; 
}




