@import 'src/styles/vars';

.who {
  width: 100%;
  padding : 1em;
  margin: auto;
  h2, h1 {
    text-align: center;
  }
  &-role{
    text-align: center;
  }
  &-trombi {
    display: flex; 
    justify-content: space-around;
  }
}

.member-card {
  max-width : 10em;
  margin-top: 1em;
  
}
