@import 'reset';
@import 'vars';

body {
  font-family: sans-serif;
  height: 100vh;
}

button {
  color: #ffffff !important;
}

.progress {
  display: block;
  height: 150px;
  margin: 0 auto;
}

.center {
  text-align: center;
  margin: 0 auto;
}
